@{
    ViewData["Title"] = "About";
}

<div class="card">
    <div class=" card-body">

        <h2 class="card-title">Case Study</h2>
        <h5 class="card-subtitle">The task is to create a basic web based pre-qualification tool for credit cards.  If possible, it should be completed using MVC and C#.</h5>        
        <p>
            This will require:
        </p>
        <ul>
            <li>An application form</li>
            <li>A results page</li>
            <li>A small database</li>
            <li>Writing logic to decide which cards to show a user</li>
        </ul>
        <p>

            The application form will have fields to capture
        </p>

        <ol>
            <li>First name</li>
            <li>Last name</li>
            <li>DOB</li>
            <li>Annual income</li>
        </ol>

        <p>
            The application form will also have a ‘submit’ button. When the ‘submit’ button is pressed, the following will take place:
        </p>
        <ol>
            <li>If applicant is under 18, show the message ‘no credit cards are available’</li>
            <li>If applicant is over 18 and has an annual income over £30,000, show a Barclaycard credit card</li>
            <li>Otherwise, show a Vanquis card</li>
        </ol>
        <p>
            When the relevant card is displayed it needs to display the card, an APR, and a short promotional message – feel free to make up a percentage and message.
        </p>
        <p>
            By looking in the database, it should be possible to see who has used the tool, and what results they were shown.
        </p>
        <p>
            Once we receive your solution, we will be attempting to build it and run it – so please include instructions to help us accomplish this.
        </p>
    </div>
</div>
